---
BasedOnStyle: Google
TabWidth: 2
IndentWidth: 2
UseTab: Never
ColumnLimit: 120

---
Language: Cpp
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4
IndentAccessModifiers: false
IncludeBlocks: Regroup
